
<meta name="og:title" content="AskMeAuthAPI Website" />
<meta
			name="og:description"
			content="This is AskMeAuthAPI!"
		/>
		<meta
			name="og:image"
			content="https://cdn.discordapp.com/attachments/785664503802232872/1055428572296257667/1671704165791.jpg"
		/>
		<title>AskMeAuthAPI</title>

This is AskMeAuthAPI!